{{#if this.fetchCase.isRunning}}
  <div class="uk-text-center"><UkSpinner @ratio={{2}} /></div>
{{else if this.case}}
  {{#if (and this.inviteLink (not this.accessKey))}}
    <div class="uk-alert-primary" uk-alert>
      <a href="" class="uk-alert-close" uk-close></a>
      <p>
        {{t "admin.application.invite"}}
        <strong><a href={{this.inviteLink}} target="_blank" rel="noreferrer noopener">{{this.inviteLink}}</a></strong>
      </p>
    </div>
  {{/if}}

  {{#if this.documentId}}
    <CfContent
      @documentId={{this.documentId}}
      @disabled={{not this.canFillForm}}
      @context={{this.context}}
    />
  {{/if}}
{{else}}
  <NotFound />
{{/if}}