<div uk-grid class="uk-grid-small">
  <div>
      <div class="uk-inline">
        <UkIcon @icon="search" class="uk-form-icon" />
        <input
          class="uk-input"
          type="search"
          placeholder={{t "admin.search"}}
          value={{this.search}}
          {{on "input" (perform this.applyFilter "search" value="target.value")}}
        >
      </div>
  </div>

  <div>
    <select class="uk-select" {{on "change" (perform this.applyFilter "category" value="target.value")}}>
      <optgroup>
        <option value="">{{t "admin.all-categories"}}</option>
      </optgroup>
      <optgroup>
        {{#each this.categories as |category|}}
          <option value={{category.slug}} selected={{eq category.slug this.category}}>{{category.label}}</option>
        {{/each}}
      </optgroup>
    </select>
  </div>

  <div class="uk-text-right uk-width-expand">
    <div class="uk-button-group">
      {{#each this.types as |type|}}
        <UkButton @color={{if (eq type this.type) "primary" "default"}} @on-click={{fn (mut this.type) type}}>{{t (concat "admin.types." type)}}</UkButton>
      {{/each}}
    </div>
  </div>
</div>

{{#if this.fetchCases.isRunning}}
  <div class="uk-padding-large uk-text-center">
    <UkSpinner @ratio={{3}} />
  </div>
{{else if this.cases.length}}
  <ul class="uk-list uk-list-striped">
    {{#each this.cases as |case|}}
      <li>
        <div uk-grid class="uk-grid-small">
          <div class="uk-width-5-6">
            <span class="uk-flex uk-flex-middle">
              <LinkTo
                @route="fill-form"
                @model={{case.id}}
                class="uk-text-bold uk-text-large uk-margin-right"
              >
                {{case.projectName}} ({{case.startYear}})
              </LinkTo>
              {{#if (eq case.status "RUNNING")}}
                <UkLabel class="uk-margin-small-right" @color="danger" @label={{t "admin.application.pending"}} />
              {{/if}}
              <UkLabel @color="success" @label={{case.category}} />
            </span>
            <div uk-grid class="uk-grid-small">
              <div class="uk-width-1-2">
                <ul class="uk-padding-remove">
                  <li>
                    <UkIcon @icon="location" />
                    {{case.location}}
                  </li>
                  <li>
                    <a class="uk-link-text" href="{{case.website}}" target="_blank" rel="noopener noreferrer">
                      <UkIcon @icon="world" />
                      {{case.website}}
                    </a>
                  </li>
                  {{#if (eq case.partOfProject "part-of-the-project-no")}}
                    <li>
                      <a class="uk-link-text" href="mailto:{{case.contactEmail}}">
                        <UkIcon @icon="user" />
                        {{case.contactName}}
                        &lt;{{case.contactEmail}}&gt;
                      </a>
                    </li>
                  {{else}}
                    <li>
                      <a class="uk-link-text" href="mailto:{{case.email}}">
                        <UkIcon @icon="user" />
                        {{case.name}}
                        &lt;{{case.email}}&gt;
                      </a>
                    </li>
                  {{/if}}
                </ul>
              </div>
              <div class="uk-width-1-2 uk-text-italic" title={{case.reason}}>{{truncate case.reason 250}}</div>
            </div>
          </div>
          <div class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-right">
            {{#if (eq this.type "nomination")}}
              <button
                class="uk-icon-button"
                type="button"
                uk-icon="forward"
                title={{t "admin.application.create"}}
                {{on "click" (perform this.createApplication case.id)}}
              >
                <span class="uk-hidden">{{t "admin.application.create"}}</span>
              </button>
            {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="uk-padding-large uk-text-center">
    <UkIcon @icon="search" @ratio={{3}} />
    <p class="uk-text-large uk-text-italic uk-text-muted">{{t "admin.empty"}}</p>
  </div>
{{/if}}