<header class="header uk-padding uk-padding-remove-horizontal">
  <LinkTo @route="index" class="header__logo">
    <img src="/assets/dinacon-logo-text-bottom.png" alt={{t "header.dinacon-logo"}}>
  </LinkTo>

  <div class="header__powered-by uk-text-meta uk-flex uk-flex-middle uk-margin-top">
    <span class="uk-text-nowrap uk-margin-small-right">{{t "header.powered-by"}}</span>
    <a href="https://caluma.io" target="blank" rel="noopener noreferrer"><img src="/assets/caluma-logo.png" alt={{t "header.caluma-logo"}}></a>
  </div>

  {{#if this.session.isAuthenticated}}
    <ul class="uk-subnav uk-subnav-divider">
      <LinkTo @route="admin.index" @activeClass="uk-active">
        <LinkTo @route="admin.index">{{t "nav.admin"}}</LinkTo>
      </LinkTo>
      <LinkTo @route="admin.form-builder" @activeClass="uk-active">
        <LinkTo @route="admin.form-builder">{{t "nav.forms"}}</LinkTo>
      </LinkTo>
      <li><a href="" {{on "click" this.logout}}>{{t "nav.logout"}}</a></li>
    </ul>
  {{/if}}
</header>

<main class="uk-container uk-margin-large-top uk-margin-large-bottom">
  {{outlet}}
</main>

<footer class="footer uk-padding-large uk-padding-remove-horizontal">
  <div class="uk-container">
    <p class="uk-text-center uk-text-uppercase uk-margin-large-bottom">{{t "footer.timeline.title"}}</p>
    <Timeline as |Entry|>
      <Entry
        @title={{t "footer.timeline.title1"}}
        @date={{t "footer.timeline.date1"}}
      />

      <Entry
        @title={{t "footer.timeline.title2"}}
        @date={{t "footer.timeline.date2"}}
        @body={{t "footer.timeline.body2"}}
      />

      <Entry
        @title={{t "footer.timeline.title3"}}
        @date={{t "footer.timeline.date3"}}
        @body={{t "footer.timeline.body3"}}
      />

      <Entry
        @title={{t "footer.timeline.title4"}}
        @date={{t "footer.timeline.date4"}}
        @body={{t "footer.timeline.body4"}}
      />

      <Entry
        @title={{t "footer.timeline.title5"}}
        @date={{t "footer.timeline.date5"}}
        @body={{t "footer.timeline.body5"}}
      />
    </Timeline>
  </div>
</footer>